# infrastructure/argocd-values.yaml

repoServer:
  serviceAccount:
    create: true
    name: "argocd-repo-server"
    annotations:
      # [필수] 아까 복사해둔 IAM Role ARN을 여기에 다시 넣으세요!
      eks.amazonaws.com/role-arn: "arn:aws:iam::206799461964:policy/petclinic-external-secrets-policy"

  initContainers:
    - name: download-tools
      image: registry.access.redhat.com/ubi8
      command: [sh, -c]
      args:
        - >-
          curl -L https://github.com/argoproj-labs/argocd-vault-plugin/releases/download/v1.18.1/argocd-vault-plugin_1.17.1_linux_amd64 -o argocd-vault-plugin &&
          chmod +x argocd-vault-plugin &&
          mv argocd-vault-plugin /custom-tools/
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  extraContainers:
    - name: avp-helm
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd:v2.12.7
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      
      # [추가됨] AVP 설정을 환경변수로 주입
      envFrom:
        - secretRef:
            name: argocd-vault-plugin-credentials
            
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: avp-helm.yaml
          name: cmp-plugin
        - mountPath: /usr/local/bin/argocd-vault-plugin
          name: custom-tools
          subPath: argocd-vault-plugin

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: cmp-plugin
      configMap:
        name: cmp-plugin
    - name: tmp
      emptyDir: {}

extraObjects:
  # 1. 플러그인 정의 ConfigMap
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: cmp-plugin
      namespace: argocd
    data:
      avp-helm.yaml: |
        ---
        apiVersion: argoproj.io/v1alpha1
        kind: ConfigManagementPlugin
        metadata:
          name: avp-helm
        spec:
          allowConcurrency: true
          discover:
            find:
              command:
                - sh
                - "-c"
                - "find . -name 'Chart.yaml' && find . -name 'values.yaml'"
          generate:
            command:
              - sh
              - "-c"
              - |
                helm template $ARGOCD_APP_NAME . --include-crds |
                argocd-vault-plugin generate -
          lockRepo: false

  # [추가됨] 2. AVP 필수 설정 (Type, Auth, Region)
  - apiVersion: v1
    kind: Secret
    metadata:
      name: argocd-vault-plugin-credentials
      namespace: argocd
    stringData:
      # AWS SSM Parameter Store를 기본 백엔드로 사용
      AVP_TYPE: awsssm
      # IAM Role(IRSA) 방식을 사용
      AVP_AUTH_TYPE: iam
      # 리전 설정 (필수)
      AWS_REGION: ap-northeast-2