loki:
  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: gp2   
      size: 10Gi

  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0

  serviceAccount:
    create: false
    name: "loki-sa"

  loki:
    auth_enabled: false
    
    commonConfig:
      replication_factor: 1

    storage:
      type: 's3'
      bucketNames:
        chunks: "petclinic-loki-storage-20251229" 
        ruler:  "petclinic-loki-storage-20251229"
        admin:  "petclinic-loki-storage-20251229"
      s3:
        region: ap-northeast-2
        # endpoint: https://s3.ap-northeast-2.amazonaws.com
    
    schemaConfig:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: index_
            period: 24h

promtail:
  config:
    clients:
      - url: http://loki-gateway.argocd.svc.cluster.local/loki/api/v1/push


tempo:
  receivers:
    zipkin:
      endpoint: "0.0.0.0:9411" 
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

  persistence:
    enabled: true
    storageClass: gp2
    size: 10Gi

  serviceMonitor:
    enabled: true