apiVersion: v1
kind: ConfigMap
metadata:
  name: k6-script
  namespace: default
data:
  script.js: |
    import http from 'k6/http';
    import { check, sleep } from 'k6';

    export let options = {
      stages: [
        { duration: '1m', target: 10 },
        { duration: '2m', target: 30 },
        { duration: '3m', target: 60 },
        { duration: '2m', target: 100 },
        { duration: '2m', target: 0 },
      ],
    };

    const BASE_URL = 'http://petclinic-visits.default.svc.cluster.local:8080'\;

    export default function () {
      let health = http.get(`${BASE_URL}/actuator/health`);
      check(health, { 'health is 200': (r) => r.status === 200 });
      
      let metrics = http.get(`${BASE_URL}/actuator/prometheus`);
      check(metrics, { 'metrics is 200': (r) => r.status === 200 });
      
      sleep(0.5);
    }
